* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-image: url("https://st2.depositphotos.com/3731481/7824/v/950/depositphotos_78244412-stock-illustration-seamless-background-with-cute-hand.jpg");
}

a {
  text-decoration: none;
}
